/* Center the images on posts*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

/* SIDEBAR */
.sidebar-item a {
	color: #007bff;
}

/* LINKS */
a {
	text-decoration-color: red;
}